@import url(./reset.css);
@keyframes alertmov {
  from {
    bottom: 36px;
  }
  to {
    bottom: 32px;
  }
}
@keyframes bottombarmov {
  from {
    bottom: -65px;
  }
  to {
    bottom: 0;
    visibility: inherit;
  }
}
@media screen and (min-width:550px) {
  #wrap {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: #ffd700;
  }
  #wrap > .notmobile {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
  }
  #wrap > header,
  #wrap section,
  #wrap footer {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  #wrap > .notmobile {
    font-size: 0;
  }
}
#wrap > header > .topbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  background-color: #fff;
  z-index: 10000;
}
#wrap > header > .topbar > .skt {
  display: flex;
  width: 17%;
}
#wrap > header > .topbar > .skt > p {
  margin-left: 7px;
}
#wrap > header > .topbar > .time {
  width: 70%;
  text-align: center;
}
#wrap > header > .topbar > .battery {
  display: flex;
  width: 13%;
}
#wrap > header > .topbar > .battery > p {
  margin-right: 5px;
}
#wrap > section {
  position: relative;
  left: 0;
  top: 35px;
  width: 100%;
  height: 800px;
}
#wrap > section .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
#wrap > section .top > .more > h2 {
  font-size: 25px;
  font-weight: 500;
  margin-left: 20px;
}
#wrap > section .top > .setting {
  display: flex;
}
#wrap > section .top > .setting > p {
  font-size: 25px;
  margin-right: 20px;
}
#wrap > section .top > .setting > p:nth-child(2) > a:hover {
  color: #f00;
}
#wrap > section > .menu {
  display: flex;
  justify-content: space-between;
  height: 70px;
  line-height: 70px;
}
#wrap > section > .menu > .menu-chat {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  font-size: 16px;
}
#wrap > section > .menu > .menu-chat > h2:nth-child(2) > a {
  color: #ccc;
}
#wrap > section > .menu > .menu-setting {
  width: 200px;
}
#wrap > section > .menu > .menu-setting > ul {
  display: flex;
  justify-content: space-evenly;
  font-size: 24px;
}
#wrap > section > .menu > .menu-setting > ul li:nth-child(3) > a:hover {
  color: #f00;
}
#wrap > section > .chatlist {
  margin-top: 20px;
}
#wrap > section > .chatlist > a {
  display: block;
}
#wrap > section > .chatlist > a:hover {
  background-color: #fefbe3;
}
#wrap > section > .chatlist > a > .chatlist1,
#wrap > section > .chatlist > a .chatlist2,
#wrap > section > .chatlist > a .chatlist3,
#wrap > section > .chatlist > a .chatlist4,
#wrap > section > .chatlist > a .chatlist5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 5px 0;
}
#wrap > section > .chatlist > a > .chatlist1 > .profile,
#wrap > section > .chatlist > a .chatlist2 > .profile,
#wrap > section > .chatlist > a .chatlist3 > .profile,
#wrap > section > .chatlist > a .chatlist4 > .profile,
#wrap > section > .chatlist > a .chatlist5 > .profile {
  display: flex;
  align-items: center;
}
#wrap > section > .chatlist > a > .chatlist1 > .profile > img,
#wrap > section > .chatlist > a .chatlist2 > .profile > img,
#wrap > section > .chatlist > a .chatlist3 > .profile > img,
#wrap > section > .chatlist > a .chatlist4 > .profile > img,
#wrap > section > .chatlist > a .chatlist5 > .profile > img {
  width: 64px;
  height: 64px;
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
}
#wrap > section > .chatlist > a > .chatlist1 > .profile > .name,
#wrap > section > .chatlist > a .chatlist2 > .profile > .name,
#wrap > section > .chatlist > a .chatlist3 > .profile > .name,
#wrap > section > .chatlist > a .chatlist4 > .profile > .name,
#wrap > section > .chatlist > a .chatlist5 > .profile > .name {
  margin-left: 15px;
}
#wrap > section > .chatlist > a > .chatlist1 > .profile > .name > h3,
#wrap > section > .chatlist > a .chatlist2 > .profile > .name > h3,
#wrap > section > .chatlist > a .chatlist3 > .profile > .name > h3,
#wrap > section > .chatlist > a .chatlist4 > .profile > .name > h3,
#wrap > section > .chatlist > a .chatlist5 > .profile > .name > h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
#wrap > section > .chatlist > a > .chatlist1 > .profile > .name > h3 > i,
#wrap > section > .chatlist > a .chatlist2 > .profile > .name > h3 > i,
#wrap > section > .chatlist > a .chatlist3 > .profile > .name > h3 > i,
#wrap > section > .chatlist > a .chatlist4 > .profile > .name > h3 > i,
#wrap > section > .chatlist > a .chatlist5 > .profile > .name > h3 > i {
  margin-left: 20px;
  color: #cccccc;
  font-size: 16px;
}
#wrap > section > .chatlist > a > .chatlist1 > .profile > .name > p,
#wrap > section > .chatlist > a .chatlist2 > .profile > .name > p,
#wrap > section > .chatlist > a .chatlist3 > .profile > .name > p,
#wrap > section > .chatlist > a .chatlist4 > .profile > .name > p,
#wrap > section > .chatlist > a .chatlist5 > .profile > .name > p {
  color: #999999;
  font-size: 15px;
}
#wrap > section > .chatlist > a > .chatlist1 > .date > p,
#wrap > section > .chatlist > a .chatlist2 > .date > p,
#wrap > section > .chatlist > a .chatlist3 > .date > p,
#wrap > section > .chatlist > a .chatlist4 > .date > p,
#wrap > section > .chatlist > a .chatlist5 > .date > p {
  margin-right: 20px;
}
#wrap > section > .chatlist > a > .chatlist1 > .date > .alarm,
#wrap > section > .chatlist > a .chatlist2 > .date > .alarm,
#wrap > section > .chatlist > a .chatlist3 > .date > .alarm,
#wrap > section > .chatlist > a .chatlist4 > .date > .alarm,
#wrap > section > .chatlist > a .chatlist5 > .date > .alarm {
  display: flex;
  justify-content: flex-end;
  margin: 10px 20px 0 0;
}
#wrap > section > .chatlist > a > .chatlist1 > .date > .alarm > p,
#wrap > section > .chatlist > a .chatlist2 > .date > .alarm > p,
#wrap > section > .chatlist > a .chatlist3 > .date > .alarm > p,
#wrap > section > .chatlist > a .chatlist4 > .date > .alarm > p,
#wrap > section > .chatlist > a .chatlist5 > .date > .alarm > p {
  width: 18px;
  height: 18px;
  color: #fff;
  line-height: 18px;
  font-size: 10px;
  text-align: center;
  background-color: #f00;
  border-radius: 50%;
}
#wrap > section#more {
  height: 800px;
}
#wrap > section#more > .profile {
  display: flex;
  align-items: center;
  position: relative;
}
#wrap > section#more > .profile > img {
  width: 75px;
  height: 75px;
  margin: 20px 20px 0 20px;
  border-radius: 25px;
}
#wrap > section#more > .profile > .name {
  margin-top: 20px;
}
#wrap > section#more > .profile > .name > h3 {
  font-size: 20px;
  font-weight: 400;
}
#wrap > section#more > .profile > .name > p {
  margin-top: 5px;
}
#wrap > section#more > .add {
  position: relative;
  top: 35px;
  margin-top: 20px;
}
#wrap > section#more > .add > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 92%;
  margin: 0 auto;
  border-bottom: 1px solid #e6e6e6;
}
#wrap > section#more > .add > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 120px;
  height: 120px;
}
#wrap > section#more > .add > ul > li > a > h4 {
  font-size: 38px;
}
#wrap > section#more > .add > ul > li > a > p {
  padding-top: 10px;
}
#wrap > section#more > .service {
  position: relative;
  top: 35px;
  margin-left: 20px;
}
#wrap > section#more > .service > h3 {
  margin: 30px 0 20px 0;
  font-weight: 400;
}
#wrap > section#more > .service > .service-box {
  margin-left: 30px;
}
#wrap > section#more > .service > .service-box ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#wrap > section#more > .service > .service-box ul > li {
  width: 120px;
  height: 120px;
}
#wrap > section#more > .service > .service-box ul > li > a > p {
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 38px;
  line-height: 60px;
  text-align: center;
  background-color: #f9de1c;
  border-radius: 10px;
}
#wrap > section#more > .service > .service-box ul > li > a > h4 {
  margin-top: 20px;
  font-weight: 400;
}
#wrap > section#setting > .setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
#wrap > section#setting > .setting > .back > a {
  display: flex;
  align-items: center;
}
#wrap > section#setting > .setting > .back > a:hover {
  color: #dcc206;
}
#wrap > section#setting > .setting > .back > a > p {
  font-size: 18px;
  font-weight: 600;
}
#wrap > section#setting > .setting > .back > a > p > i {
  font-size: 23px;
  transform: rotate(-90deg);
}
#wrap > section#setting > .setting > .back > a > p:nth-child(1) {
  margin: 0 5px 0 20px;
}
#wrap > section#setting > .setting > .search > a > p {
  margin-right: 20px;
}
#wrap > section#setting > .setting > .search > a > p > i {
  font-size: 23px;
}
#wrap > section#setting > .setting-list {
  position: relative;
}
#wrap > section#setting > .setting-list > ul {
  line-height: 3;
}
#wrap > section#setting > .setting-list > ul > li {
  font-size: 16px;
}
#wrap > section#setting > .setting-list > ul > li > a {
  display: flex;
  align-items: center;
}
#wrap > section#setting > .setting-list > ul > li > a:hover {
  background-color: #fdf4b1;
}
#wrap > section#setting > .setting-list > ul > li > a > p {
  margin-left: 20px;
  font-size: 25px;
}
#wrap > section#setting > .setting-list > ul > li > a > h2 {
  font-weight: 400;
  margin-left: 25px;
}
#wrap > section#friends {
  height: 865px;
}
#wrap > section#friends > .me {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 20px 0;
  border-bottom: 1px solid #e6e6e6;
}
#wrap > section#friends > .me > img {
  width: 80px;
  height: 80px;
  margin: 10px 20px 10px 0;
  border-radius: 25px;
}
#wrap > section#friends > .me > .name > h3 {
  font-size: 20px;
  font-weight: 500;
}
#wrap > section#friends > .me > .name > p {
  margin-top: 5px;
}
#wrap > section#friends > .birthday,
#wrap > section#friends .newfriends {
  position: relative;
  margin: 0 20px 0;
  border-bottom: 1px solid #e6e6e6;
}
#wrap > section#friends > .birthday > h4,
#wrap > section#friends .newfriends > h4 {
  font-weight: 400;
  margin: 10px 0 10px 0;
}
#wrap > section#friends > .birthday > .profile,
#wrap > section#friends .newfriends > .profile {
  display: flex;
  align-items: center;
}
#wrap > section#friends > .birthday > .profile > img,
#wrap > section#friends .newfriends > .profile > img {
  width: 60px;
  height: 60px;
  margin: 0 20px 10px 0;
  border-radius: 20px;
}
#wrap > section#friends > .birthday > .profile > p,
#wrap > section#friends .newfriends > .profile > p {
  font-size: 15px;
  font-weight: 500;
}
#wrap > section#friends > .bookmark {
  position: relative;
  top: 35px;
  margin: 0 20px 0;
}
#wrap > section#friends > .bookmark > a {
  display: block;
}
#wrap > section#friends > .bookmark > a:hover {
  background-color: #fefbe3;
}
#wrap > section#friends > .bookmark > a > .bookmark1,
#wrap > section#friends > .bookmark > a .bookmark2,
#wrap > section#friends > .bookmark > a .bookmark3,
#wrap > section#friends > .bookmark > a .bookmark4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 5px 0;
}
#wrap > section#friends > .bookmark > a > .bookmark1 > .profile,
#wrap > section#friends > .bookmark > a .bookmark2 > .profile,
#wrap > section#friends > .bookmark > a .bookmark3 > .profile,
#wrap > section#friends > .bookmark > a .bookmark4 > .profile {
  display: flex;
  align-items: center;
}
#wrap > section#friends > .bookmark > a > .bookmark1 > .profile > img,
#wrap > section#friends > .bookmark > a .bookmark2 > .profile > img,
#wrap > section#friends > .bookmark > a .bookmark3 > .profile > img,
#wrap > section#friends > .bookmark > a .bookmark4 > .profile > img {
  width: 64px;
  height: 64px;
  border: 1px solid #ccc;
  border-radius: 25px;
}
#wrap > section#friends > .bookmark > a > .bookmark1 > .profile > .name,
#wrap > section#friends > .bookmark > a .bookmark2 > .profile > .name,
#wrap > section#friends > .bookmark > a .bookmark3 > .profile > .name,
#wrap > section#friends > .bookmark > a .bookmark4 > .profile > .name {
  margin-left: 15px;
}
#wrap > section#friends > .bookmark > a > .bookmark1 > .profile > .name > h3,
#wrap > section#friends > .bookmark > a .bookmark2 > .profile > .name > h3,
#wrap > section#friends > .bookmark > a .bookmark3 > .profile > .name > h3,
#wrap > section#friends > .bookmark > a .bookmark4 > .profile > .name > h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
#wrap > section#friends > .bookmark > a > .bookmark1 > .profile > .name > p,
#wrap > section#friends > .bookmark > a .bookmark2 > .profile > .name > p,
#wrap > section#friends > .bookmark > a .bookmark3 > .profile > .name > p,
#wrap > section#friends > .bookmark > a .bookmark4 > .profile > .name > p {
  color: #999999;
  font-size: 15px;
}
#wrap > section#friends > .bookmark > a > .bookmark1 > .date > .alarm,
#wrap > section#friends > .bookmark > a .bookmark2 > .date > .alarm,
#wrap > section#friends > .bookmark > a .bookmark3 > .date > .alarm,
#wrap > section#friends > .bookmark > a .bookmark4 > .date > .alarm {
  position: absolute;
  right: 0;
  top: 150px;
}
#wrap > section#friends > .bookmark > a > .bookmark1 > .date > .alarm > p,
#wrap > section#friends > .bookmark > a .bookmark2 > .date > .alarm > p,
#wrap > section#friends > .bookmark > a .bookmark3 > .date > .alarm > p,
#wrap > section#friends > .bookmark > a .bookmark4 > .date > .alarm > p {
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  color: #fff;
  font-size: 11px;
  background-color: #f00;
  border-radius: 50%;
}
#wrap > section#find > .add {
  margin: 0 20px;
  border-bottom: 1px solid #e6e6e6;
}
#wrap > section#find > .add > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}
#wrap > section#find > .add > ul > li > a > h3 {
  font-size: 38px;
  font-weight: 400;
}
#wrap > section#find > .add > ul > li > a > p {
  font-size: 12px;
}
#wrap > section#find > .suggest > h3 {
  font-weight: 400;
  line-height: 100px;
  margin-left: 20px;
}
#wrap > section#find > .suggest > .suggest-list > ul > li {
  line-height: 100px;
}
#wrap > section#find > .suggest > .suggest-list > ul > li:hover {
  background-color: #fdf4b1;
}
#wrap > section#find > .suggest > .suggest-list > ul > li > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrap > section#find > .suggest > .suggest-list > ul > li > a > .profile {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
#wrap > section#find > .suggest > .suggest-list > ul > li > a > .profile > p {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 45px;
  font-size: 35px;
  color: #000;
  border: 3px solid #000;
  border-radius: 50%;
  overflow: hidden;
}
#wrap > section#find > .suggest > .suggest-list > ul > li > a > .profile > h4 {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
}
#wrap > section#find > .suggest > .suggest-list > ul > li > a > .add {
  margin-right: 20px;
}
#wrap > section#find > .suggest > .suggest-list > ul > li > a > .add > i {
  font-size: 20px;
}
#wrap > section#talk {
  height: calc(100vh + 65px);
  background-image: url(./../images/chatBg.png);
  overflow-x: hidden;
}
#wrap > section#talk > .setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
#wrap > section#talk > .setting > .back > a {
  display: flex;
  align-items: center;
}
#wrap > section#talk > .setting > .back > a:hover {
  color: #dcc206;
}
#wrap > section#talk > .setting > .back > a > p {
  font-size: 18px;
  font-weight: 600;
}
#wrap > section#talk > .setting > .back > a > p > i {
  font-size: 23px;
  transform: rotate(-90deg);
}
#wrap > section#talk > .setting > .back > a > p:nth-child(1) {
  margin: 0 5px 0 20px;
}
#wrap > section#talk > .setting > .search {
  display: flex;
}
#wrap > section#talk > .setting > .search > a > p {
  margin-right: 20px;
}
#wrap > section#talk > .setting > .search > a > p > i {
  font-size: 23px;
}
#wrap > section#talk > .date {
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  width: 160px;
  height: 20px;
  line-height: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px #aaa;
}
#wrap > section#talk > .chat {
  display: flex;
}
#wrap > section#talk > .chat > img {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  border-radius: 40%;
  background-color: #fff;
  box-shadow: 1px 1px 10px #626262;
}
#wrap > section#talk > .chat > .chat-cont > .you {
  width: 100vw;
  text-align: left;
}
#wrap > section#talk > .chat > .chat-cont > .you > h2 {
  margin-left: 20px;
  font-size: 15px;
  font-weight: 400;
}
#wrap > section#talk > .chat > .chat-cont > .you > p {
  width: 150px;
  height: 40px;
  margin: 5px 0 0 20px;
  line-height: 40px;
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 2px 2px 10px #aaa;
}
#wrap > section#talk > .chat > .chat-cont > .you > .domino {
  width: 340px;
  margin: 5px 0 0 20px;
  line-height: 40px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #aaa;
  text-align: left;
  margin: 10px 0 0 20px;
  padding-bottom: 5px;
}
#wrap > section#talk > .chat > .chat-cont > .you > .domino > h3 {
  margin-left: 20px;
}
#wrap > section#talk > .chat > .chat-cont > .you > .domino > a {
  display: block;
  text-align: center;
}
#wrap > section#talk > .chat > .chat-cont > .you > .domino > p {
  display: flex;
  align-items: center;
  line-height: 1;
  margin-bottom: 10px;
  font-size: 14px;
}
#wrap > section#talk > .chat > .chat-cont > .you > .domino > p > img {
  width: 52px;
  height: 52px;
  margin: 0 20px 0 10px;
}
#wrap > section#talk > .chat > .chat-cont > .you > .domino > button {
  display: block;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  width: 330px;
  background-color: #f6f7f8;
  border: 1px solid #eee;
}
#wrap > section#talk > .chat > .chat-cont > .you > .domino > button > a {
  display: block;
}
#wrap > section#talk > .chat > .chat-cont > .you > .kakaopay {
  position: relative;
  width: 320px;
  margin: 10px 0 0 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #aaa;
}
#wrap > section#talk > .chat > .chat-cont > .you > .kakaopay > .mark {
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  text-align: center;
  font-size: 8px;
  background-color: #444444;
  border-radius: 50%;
  transform: translate(25%, -25%);
}
#wrap > section#talk > .chat > .chat-cont > .you > .kakaopay > .top {
  height: 45px;
  background-color: #fee500;
  border-radius: 5px 5px 0 0;
}
#wrap > section#talk > .chat > .chat-cont > .you > .kakaopay > .top > h3 {
  font-size: 16px;
  margin-left: 20px;
}
#wrap > section#talk > .chat > .chat-cont > .you > .kakaopay > .info {
  margin: 0 20px 0;
}
#wrap > section#talk > .chat > .chat-cont > .you > .kakaopay > .info > .price {
  border-bottom: 1px solid #ccc;
}
#wrap > section#talk > .chat > .chat-cont > .you > .kakaopay > .info > .price > small {
  display: block;
  font-size: 15px;
  margin: 15px 0 6px 0;
  color: #737373;
}
#wrap > section#talk > .chat > .chat-cont > .you > .kakaopay > .info > .price > h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
#wrap > section#talk > .chat > .chat-cont > .you > .kakaopay > .info > .mer > p {
  margin: 10px 0 20px 0;
}
#wrap > section#talk > .chat > .chat-cont > .you > .kakaopay > .info > .mer > ul > li {
  line-height: 1.8;
}
#wrap > section#talk > .chat > .chat-cont > .you > .kakaopay > .info > .mer > ul > li > span {
  display: block;
  text-indent: 20px;
}
#wrap > section#talk > .chat > .chat-cont > .you > .kakaopay > .info > .mer > .plus {
  padding-bottom: 15px;
}
#wrap > section#talk > .chat > .chat-cont > .you > .kakaopay > .info > .mer > .plus > p {
  margin-top: 25px;
  color: #737373;
}
#wrap > section#talk > .chat > .chat-cont > .you > .kakaopay > .button {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  padding-bottom: 5px;
}
#wrap > section#talk > .chat > .chat-cont > .you > .kakaopay > .button > button {
  margin-bottom: 5px;
  height: 40px;
  background-color: #f6f7f8;
  border: 1px solid #eee;
  border-radius: 6px;
}
#wrap > section#talk > .chat > .chat-cont > .me {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}
#wrap > section#talk > .chat > .chat-cont > .me > p {
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #fae54e;
  border-radius: 15px;
  margin-right: 90px;
  box-shadow: 2px 2px 10px #aaa;
}
#wrap > footer > .bottombar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 65px;
  line-height: 65px;
  font-size: 25px;
  background-color: #fafafa;
  border-top: 1px solid #ccc;
  visibility: hidden;
  animation: bottombarmov 0.6s ease-out forwards 0.5s;
}
#wrap > footer > .bottombar > .friends > a:hover {
  color: #ff6666;
}
#wrap > footer > .bottombar > .talk {
  position: relative;
}
#wrap > footer > .bottombar > .talk > a:hover {
  color: #ff6666;
}
#wrap > footer > .bottombar > .talk > a:hover > .alarm {
  animation-play-state: paused;
}
#wrap > footer > .bottombar > .talk > a > .alarm {
  position: absolute;
  left: 14px;
  bottom: 34px;
  animation: alertmov 0.5s ease-in-out 0s infinite alternate;
}
#wrap > footer > .bottombar > .talk > a > .alarm > p {
  width: 17px;
  height: 17px;
  color: #fff;
  line-height: 17px;
  font-size: 10px;
  text-align: center;
  background-color: #f00;
  border-radius: 50%;
}
#wrap > footer > .bottombar > .find > a:hover {
  color: #ff6666;
}
#wrap > footer > .bottombar > .more > a:hover {
  color: #ff6666;
}
#wrap > footer#talk-footer {
  width: 100%;
  position: fixed;
  right: 0;
  bottom: -330px;
  transition: all 0.4s;
  background-color: #fff;
}
#wrap > footer#talk-footer:hover {
  bottom: 0;
}
#wrap > footer#talk-footer > .sendmessage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border: 1px solid #ccc;
}
#wrap > footer#talk-footer > .sendmessage > .plus {
  display: flex;
  width: 50px;
  margin-left: 5px;
}
#wrap > footer#talk-footer > .sendmessage > .plus > p {
  margin-left: 10px;
  font-size: 20px;
}
#wrap > footer#talk-footer > .sendmessage > input {
  width: 100%;
  height: 50%;
  margin-right: 20px;
  border: none;
  outline: none;
  text-indent: 15px;
}
#wrap > footer#talk-footer > .sendmessage > .emoticon {
  display: flex;
  width: 60px;
}
#wrap > footer#talk-footer > .sendmessage > .emoticon > p {
  margin-right: 10px;
  font-size: 18px;
}
#wrap > footer#talk-footer > .keyboard > img {
  width: 100%;
  height: 326px;
}/*# sourceMappingURL=style.css.map */